@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  border: none;
  outline: none;
  background: transparent;
}


.container {
  width: 89%;
  max-width: 1145px;
  margin: 0 auto;
}

/* -----------------------------------------------------------  */

.header__navigation {
  display: flex;
  justify-content: center;
  padding: 25.5px;
}

.header__list {
  display: flex;

}

.header__item a {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
  color: #FF0000;
}

.header__item:not(:nth-child(3), :last-child) {
  margin-right: 72px;
}

.header__item:nth-child(3) {
  margin-right: 50px;
}

/* ----------------------------------------------header-end-------- */

.main__photo {
  max-width: 1280px;
  max-height: 789px;
  margin: 0 auto;
  
}
.main__photo img{
  width: 100%;
  
}

.center__wrapper{
  padding: 48px 0 42px;
}

.center__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  color: #373737;
  margin: 0 auto 39px;
  max-width: 671px;
}

.center__text{
  font-family: "Montserrat";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 2.4px;
color: #373737;
}

.center__text:nth-child(3){
  margin: 28px 0 66px;
}

.center__link{
  font-family: "Montserrat";
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 12px;
letter-spacing: 1.8px;
text-transform: uppercase;
color: #FFFFFF;
background: #FF0000;
border-radius: 4px;
padding: 17px 0;
width: 191px;
text-align: center;
display: block;
margin: 0 auto;
}

/* ------------------------------center-end */

.footer__text{
  text-align: right;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  color: #373737;
}

footer{
  padding: 41px 0 29px;
}