@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.heroy {
  max-width: 1366px;
  margin: 0 auto;
  background: url(../img/background.jpg) no-repeat center;
  background-size: cover;
  padding: 46px 177px 15px 160px;
}

.heroy__top {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.heroy__logo {
  background: url(../img/logo-white.svg) no-repeat left center;
  display: inline-block;
  padding-left: 61px;
  font-size: 29px;
  line-height: 29px;
  font-weight: 700;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.heroy__logo span {
  display: block;
  font-size: 18px;
  line-height: 18px;
  margin-top: 4px;
}

.heroy__logo:hover {
  background: url(../img/logo-orange.svg) no-repeat left center;
  color: #F26522;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.heroy__top-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.heroy__email,
.heroy__phone {
  font-size: 18px;
  line-height: 18px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.heroy__email:hover,
.heroy__phone:hover {
  color: #F26522;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.heroy__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 17px;
}

.heroy__block {
  width: 309px;
  position: relative;
  margin-bottom: 37px;
  cursor: pointer;
}

.heroy__block-title {
  margin-top: 20px;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  text-align: center;
}

.heroy__block-details {
  position: absolute;
  bottom: 38px;
  left: 0;
  right: 0;
  background: #F26522;
  color: #fff;
  padding: 7px 16px 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}

.heroy__block-price {
  font-size: 20px;
  line-height: 20px;
}

.heroy__block-price span {
  display: block;
  font-size: 10px;
  line-height: 10px;
  margin-bottom: 8px;
}

.heroy__block-link {
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  padding-right: 21px;
  position: relative;
}

.heroy__block-link::after{
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 5px;
  height: 10px;
  background: url(../img/arrow.svg) no-repeat center;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}


.heroy__block:hover .heroy__block-details{
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.heroy__block:hover .heroy__block-title{
  color: #F26522;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.heroy__copyright{
  text-align: center;
  margin-top: 11px;
  color: #fff;
  font-size: 12px;
line-height: 12px;
}