@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
}

.container {
  max-width: 1283px;
  width: 86%;
  margin: 0 auto;
}

.header {
  padding-top: 63px;
}

.top__title {
  font-size: 80px;
  line-height: 94px;
  color: #000000;
  padding-bottom: 38px;
}

.top__title span {
  color: #4BCAFF;
}

.top__list {
  display: flex;

}

.top__navigation {
  background: #35444F;
  max-width: 1283px;
  padding-left: 162px;
}

.top__link {
  color: #FFFFFF;
  font-size: 19px;
  line-height: 28px;
  display: block;
}

.top__link:hover {
  background: #222F3A;
  transition: background-color 0.4s;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -ms-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
}

.top__item:first-child {
  border-left: 2px solid white;
  border-right: 1px solid white;

}

.top__item:nth-child(2) {
  border-left: 1px solid white;
  border-right: 1px solid white;

}

.top__item:nth-child(3) {
  border-left: 1px solid white;
  border-right: 1px solid white;

}

.top__item:last-child {
  border-left: 1px solid white;
  border-right: 2px solid white;
}

.top__item:first-child .top__link {
  padding: 26px 32px 19px;
}

.top__item:nth-child(2) .top__link {
  padding: 26px 38px 19px;
}

.top__item:nth-child(3) .top__link,
.top__item:last-child .top__link {
  padding: 26px 40px 19px;
}

/* <!-- ------------------------------------header--------- --> */

.center {
  padding-top: 48px;
  padding-bottom: 50px;

}

.wrapper {
  display: flex;
  justify-content: space-between;
}


.center__block-left {
  width: 344px;
  height: 397px;
  border: 1px solid black;
}


.block-left-link {
  display: block;
  padding: 26px 0 26px 42px;
  font-family: 'Roboto';
  font-size: 27px;
  line-height: 27px;
  color: #485863;
}

.block-left-link:hover {
  background: #DBDBDB;
  padding-left: 72px;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
}

.block-right-img {
  cursor: pointer;
  width: 885px;
  height: 529px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-right-img img {
  width: 320px;
  height: 381px;

}

.block-right-img:hover img {

  width: 340px;
  height: 399px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}


.block-right-text {
  width: 885px;
}

.text {
  margin-top: 37px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #2C2C2C;
}


/* <!-- -----------------------------------center--------------------------- --> */


.footer__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1283px;
  padding: 0 40px;
  background: rgba(99, 105, 110, 0.48);
}



.footer__list {
  display: flex;
}

.footer__item {
  padding: 20px 0;
}

.footer__item:not(:last-child) {
  margin-right: 20px;
}

.footer__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 28px;
  align-items: center;
  color: #0C1927;
}

.footer__link:hover{
  color: #3181A6;
  border-bottom: 1px solid #3181A6;
  padding-bottom: 10px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.footer__copy {
  padding: 20px 0;
}

.footer__text{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  align-items: center;
  color: #010101;
}
