@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

.btn {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

img {
  max-width: 100%;

}

a {
  color: inherit;
  text-decoration: none;
}


.common-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
}

body {
  background: rgba(0, 0, 0, 0.0001);
  font-family: 'Open Sans';
  font-style: normal;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}




.header__wrapper {
  display: flex;
  justify-content: space-between;
  background: #313131;
  padding-left: 29px;
}

.header-link {
  display: inline-block;
  width: 27px;
  height: 27px;
  padding: 21px 0 20px;
}


.header-link-2 {
  display: inline-block;
  padding: 22px 0 21px;
  margin-left: 27px;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}

.header__list {
  display: flex;
}

.header__search-wrapper {
  display: flex;

}

.header__search-btn {
  background: #000000;
  width: 70px;
  height: 70px;
}

.header__search {
  border: none;
  background: transparent;
  width: 0px;
}

.header__item:not(:last-of-type) {
  margin-right: 35px;
}

.header__item {
  padding: 25px 0;
}


.header__item-link {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header__item-link:hover {
  color: #14B9D5;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
}

/* <!-- --------------------------------------header end--------------------------------------- --> */

.top-menu {
  background: url(../img/header-bg.jpg) no-repeat center;
}

.top-menu__title {
  color: #FFFFFF;
  padding-top: 232px;
}

.top-menu__links {
  width: 360px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
  padding-bottom: 74px;
}

.button {
  width: 170px;
  padding: 16px 0 17px;
  text-align: center;
  border-radius: 4px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.top-menu__link-1 {
  background: #89CA62;
}

.top-menu__link-2 {
  background: #14B9D5;
}


/* ----------------------------------top-menu end------------------------------ */

.popular-posts {
  padding: 49px 0 37px
}

.popular-posts__title {
  color: #18B4CF;
  margin-bottom: 52px;
}

.popular-posts__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.popular-posts-text {
  padding: 20px 0 21px;
  background: #FFFFFF;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #353A3D;
  margin-bottom: 35px;
}

/* <!-- -----------------------------------------popular-posts end------------------------------ --> */

.clients {
  background: url(../img/clients-bg.jpg) no-repeat center;
  padding: 117px 0 183px;
}

.clients__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.clients__horline {
  display: block;
  width: 60px;
  height: 3px;
  background: #18B4CF;
  margin: 87px auto 100px;
}

.clients__wrapper {
  max-width: 881px;
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

/* <!-- --------------------------------section clients------------------------------------ --> */

.rated {
  padding-top: 51px;
}

.rated__tittle {
  color: #18B4CF;
  margin-bottom: 52px;
}

.rated__wrapper {
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  max-width: 1900px;
}

/* <!-- --------------------------------section rated------------------------------------ -->*/


.news {
  padding-top: 48px;
  padding-bottom: 71px;
}

.news__title {
  color: #18B4CF;
  margin-bottom: 51px;
}

.news__block-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #353A3D;
}

.news__block-information {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5B6469;
  background: rgba(0, 0, 0, 0.0001);
  text-align: right;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);

}

.news__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "nb1 nb1 nb1 nb2"
    "nb3 nb3 nb4 nb4"
    "nb5 nb5 nb6 nb6"
    "nb7 nb8 nb8 nb8";
  row-gap: 43px;
  column-gap: 30px;
  justify-content: start;
}

.nb1 {
  grid-area: nb1;
  display: flex;
}



.nb2 {
  grid-area: nb2;
}


.nb3 {
  grid-area: nb3;
}



.nb3,
.nb4,
.nb5,
.nb6 {
  width: 554px;
}

.nb4,
.nb6 {
  margin-left: 15px;
}

.nb4 {
  grid-area: nb4;
}

.nb5 {
  grid-area: nb5;
}

.nb6 {
  grid-area: nb6;
}

.nb7 {
  grid-area: nb7;
}

.nb8 {
  grid-area: nb8;
  display: flex;
}

.news__block-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  color: #353A3D;
}

.nb2 .news__block-title,
.nb7 .news__block-title {
  text-align: center;
  padding: 15px 0 14px;
}

.nb1 .news__block-title,
.nb8 .news__block-title {
  padding: 41px 24px 0 0;
  margin-bottom: 14px;
}

.nb1 .news__block-text,
.nb8 .news__block-text {
  padding: 0 24px 32px 18px;
}


.nb3 .news__block-title,
.nb4 .news__block-title,
.nb5 .news__block-title,
.nb6 .news__block-title {
  padding: 14px 27px 0 0;
  margin-bottom: 15px;
}

.nb3 .news__block-text,
.nb4 .news__block-text,
.nb5 .news__block-text,
.nb6 .news__block-text {
  padding: 0 13px 0 14px;

}

/* --------------------------------------footer---------------------------*/

.footer {
  background-color: #000;
}

.footer .container{
  
  display: flex;
  justify-content: space-between;
}

.footer__text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  color: #FFFFFF;
  padding: 29px 0 30px;
}

.parallax{
  background-attachment: fixed;
}